*{
    font-family: "Oleo Script";
}

/* Small devices (landscape phones, 544px and up) */
  @media (min-width: 319px) {  
    * {font-size: 11px;}
  }

  /* Small devices (landscape phones, 544px and up) */
  @media (min-width: 544px) {  
    * {font-size: 15px;}
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {  
    * {font-size: 15px;}
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    * {font-size: 20px;}
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    * {font-size: 25px;}
  }




ul.nav li.active a {
    color:red;
}

.btn-sample:active {
  box-shadow: none;
}

.btn{
    background-color: darkslategray;
    color: white;
}

.btn:hover, .btn:focus, .btn:active{
    color: #fff;
    border-color: black;
}


.nav-pills > li > a {
  color: #575757;
}


.nav-pills .nav-link.active {
  background-color:darkslategray;
}

.dropdown-item:active{
    background-color:darkslategray;
}

.embed-responsive {
    max-width: 100%;
    margin: 0 auto;
    border: none;
}