*{
    font-family: "Oleo Script";
}

/* Small devices (landscape phones, 544px and up) */
  @media (min-width: 319px) {  
    * {font-size: 13px;}
  }

  /* Small devices (landscape phones, 544px and up) */
  @media (min-width: 544px) {  
    * {font-size: 15px;}
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {  
    * {font-size: 15px;}
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    * {font-size: 20px;}
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    * {font-size: 25px;}
  }
