*{
    font-family: "lato";
}

.navbar-brand{
    font-family: "Oleo Script";
}
/* The following code changes the font size based on screen size*/
/* Small devices (landscape phones, 544px and up) */
  @media (min-width: 319px) {  
    * {font-size: 11px;}
        .row .ml-auto{
    font-size: 10px
    }
  }

  /* Small devices (landscape phones, 544px and up) */
  @media (min-width: 544px) {  
    * {font-size: 15px;}
        .row .ml-auto{
    font-size: 11px
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {  
    * {font-size: 15px;}
        .row .ml-auto{
    font-size: 12px
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    * {font-size: 20px;}
    .row .ml-auto{
    font-size: 16px
    }
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    * {font-size: 25px;}
    .row .ml-auto{
    font-size: 20px
    }
  }






.btn{
    background-color: darkslategray;
    color: white;
}

.btn:hover, .btn:focus, .btn:active{
    color: #fff;
    border-color: black;
}


.nav-pills > li > a {
  color: #575757;
}


.nav-pills .nav-link.active {
  background-color:darkslategray;
}

.dropdown-item:active{
    background-color:darkslategray;
}

